<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block page_title %}{{ page_title }}{% endblock %}</title>
        
        {% block meta_tags %}
            <meta name="description" content="{% block meta_description %}{{ meta_description }}{% endblock %}">
            <meta name="viewport" content="width=device-width">
        {% endblock %}

        {% block stylsheets %}
            <link rel="stylesheet" href="{{ STATIC_URL }}html5-boilerplate/css/normalize.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}html5-boilerplate/css/main.css">
        {% endblock %}

        {% block header_scripts %}
            <script src="{{ STATIC_URL }}html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block browser_compatibility_warning %}
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer_scripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
            <script src="{{ STATIC_URL }}html5-boilerplate/js/plugins.js"></script>
            <script src="{{ STATIC_URL }}html5-boilerplate/js/main.js"></script>

            {% if google_analytics_site_id %}
                <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
                <script>
                    var _gaq=[['_setAccount','{{ google_analytics_site_id }}'],['_trackPageview']];
                    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
